

* {
    margin: 0;
    padding: 0;
    font-family: 'Bellota Text', cursive;
    --main-color: #753a88;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #C6FFDD, #FBD786, #f7797d, #753a88);
}

.header {
    font-weight: bold;
    font-size: 45px;
    padding: 15px;
    margin-top: 15px;
}

.neon {
    color: rgb(26, 2, 32);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.neon-box {
    box-shadow: 0 0 40px 10px #652466
}

.cell {
    margin:0;
	padding:0;
	border:solid 1px black;
	display:inline-block;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
}

.grid {
    height: 500px;
    width: 500px;
    display: grid;
    gap: 3px;
    border: solid 2px var(--main-color);
}

.pixel {
    background-color: white;
    border-radius: 2px;
}

.navbar {
    padding: 1em;
    margin-top: 1.2em;
    height: 80px;
    display: flex;
}

.btn, input {
    height: 35px;
    padding: 0 1em;
    border: solid 2px #faf4ed;
    background-color: transparent;
    border-radius: 5px;
}

.btn {
    transition: ease-out 0.3s;
}

.btn:hover {
    box-shadow: 0 0 10px 5px var(--main-color);
    cursor: pointer;
}

.btn:active {
    transform: scale(1.03);

}

.left-side, .colors {
    display: flex;
    width:100px;
    flex-wrap: wrap;
}

.pen, .random-color {
    margin-top: 15px;
    font-size: 14px;
}

.random-color {
    margin-top: 1em;
    width:100px;
    height: 50px;
}

.size {
    width: 70px;
}